{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="sb-nav-fixed" xmlns="http://www.w3.org/1999/html">
      {% include 'partials/topbar.html' %}
        <div id="layoutSidenav">
           {% include 'partials/sidebar.html' %}
            <div id="layoutSidenav_content">
                <main>
                     <div class="container-fluid px-4">
                        {% include 'partials/messages.html' %}
                        <h3 class="mt-4">Welcome back <i/>{{request.user.username}}</i></h3>


                        <div class="row">
                            <div class="col-xl-12">

                              <div class="card mb-3">
                                <div class="row g-0">

                                  <div class="col-md-12">
                                    <div class="card-body">
                                      <h5 class="card-title">Profile Details:</h5><hr>
                                      <p class="card-text">First Name: <i>{{request.user.first_name}}</i></p>
                                      <p class="card-text">Last Name: <i>{{request.user.last_name}}</i></p>
                                      <p class="card-text">Home Address: <i>{{request.user.profile.home_address}}</i></p>
                                      <p class="card-text">Phone Number: <i>{{request.user.profile.phone_number}}</i></p>

                                      <p class="card-text">
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#edit_profile"><i class="fas fa-edit"></i> Edit Profile</button>
                                      </p>

                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>

                        </div>



              <!-- Modal to edit user profile -->
              <div class="modal fade" id="edit_profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <form method = "POST" action="{% url 'user-profile' %}">
						            {% csrf_token %}
                      <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="first_name" value="{{request.user.first_name}}" id="first_name">
                      </div>

                      <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name" value="{{request.user.last_name}}" id="last_name">
                      </div>

                      <div class="mb-3">
                        <label for="home_address" class="form-label">Home address</label>
                        <input type="text" class="form-control" name="home_address" value="{{request.user.profile.home_address}}" id="home_address">
                      </div>

                         <div class="mb-3">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" name="phone_number" value="{{request.user.profile.phone_number}}" id="phone_number">
                      </div>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>


                    </div>
                </main>


		{% include 'partials/footer.html' %}
            </div>
        </div>


	{% block javascript %}


	{% endblock %}

	{% endblock %}
