 <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            <a class="nav-link" href="{% url 'user-profile' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                My Profile
                            </a>
                            <a class="nav-link" href="{% url 'user-locations' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Map
                            </a>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                         <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </nav>
            </div>
